/* Synkkä värimaailma ja hauska fontti */
body {
    background-color: #121212;
    color: white;
    font-family: 'Trebuchet MS', cursive;
    /* Lataa Google Fontsista tai muuta fontti */
}

/* Otsikkoalue */
.header {
    background: linear-gradient(to right, #000, #222);
    padding: 50px 0;
    text-align: center;
}

/* Navigaatiopalkki */
.navbar {
    border-bottom: 2px solid #ffcc00;
}

/* etusivun osiot erotteleva tyyliin sopiva viiva */
.separator {
    border-bottom: 2px solid #ffcc00;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

/* Elokuvakortit */
.movie-card {
    background-color: #1e1e1e;
    color: white;
    border: none;
    box-shadow: 3px 3px 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out;
}

.movie-card:hover {
    transform: scale(1.05);
}

/* Alatunniste */
.footer {
    background-color: #000;
    text-align: center;
    padding: 15px 0;
}

.weekly-movie-box {
    text-align: center;
    color: white;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}

.contact-box {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
}

.contact-box a {
    color: #ffcc00;
    text-decoration: none;
    font-weight: bold;
}

.contact-box a:hover {
    text-decoration: underline;
}